asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.0.7
django-crispy-forms==1.9.1
geographiclib==1.50
geoip2==3.0.0
geopy==2.0.0
idna==2.10
maxminddb==1.5.4
psycopg2-binary==2.8.5
pytz==2020.1
requests==2.24.0
sqlparse==0.3.1
urllib3==1.25.9
