{% extends "userface/index.html" %}
{% block title %}

<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}

div.blah1 {

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

</style>
<div class="blah1">
	<h1 style="color:blue;">Create an Account</h1>


</div>



{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}

div.blah {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

</style>
<div class="blah">
	<form method="POST" class="form-group">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Register</button>
    </form>


</div>


{% endblock %}