{% extends "userface/index.html" %}

{% if user.is_authenticated %}
    {% load crispy_forms_tags %}

    {% block content %}
    <form  method="get">
            <label for="results">Enter Destination Address: </label>
            <input id="results" type="text" name="results" value="{{ search_results }}">
            <input type="submit" value="submit">
        </form>


    {% if resultss %}
        <li> {{resultss}}</li>
        <li> Parking Spots next to Destination: {{request.session.location}}</li>


{% load leaflet_tags %}

{% leaflet_css %}

{% leaflet_js %}



<div>
    "Destination in blue"
    {% leaflet_map "main" callback="map_init" %}
    <li><a href="/userface">Return to Profile</a></li>
</div>


<script type="text/javascript">

    function map_init(map, options) {

        // get point lat and lon

        var lat = "{{ dest.location.x }}";

        var lon = "{{ dest.location.y }}";

        // zoom to point & add it to map
        map.setView([lat, lon], 12);
        L.marker([lat, lon]).addTo(map);

    }

</script>

    {% else %}
    <li>No Destination</li>
    {% endif %}
    {% endblock %}

{% else %}
{% endif %}

\